@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$Robo: 'Roboto';
$Snig: 'Sniglet';

$yellow: #fff599;
$blue: #1762a6;
$black: #333333;

$l-size: 29px;
$m-size: 22px;
$s-size: 20px;
$t-size: 16px;