.footer__box {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
  background-color: $black;
  color: $yellow;
}

.footer__box-left {
  font-size: $s-size;
  padding: 3px;
  padding-left: 5px;
}

.footer__box-right {
  font-size: $t-size;
  padding: 5px;
  padding-top: 6px;
}