
.header {
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px;
}

.header__title {
  margin-right: 44px;
  font-family: $Snig;
  font-size: $l-size;
  color: $yellow;
  text-decoration: none;
}

.header__text {
  margin-right: 44px;
  font-size: $m-size;
  font-family: $Robo;
  color: white;
  text-decoration: none;
}

.header__active-link {
  opacity: .44;
  margin-right: 44px;
  font-size: $m-size;
  font-family: $Robo;
  color: white;
  text-decoration: none;
}