.home__title {
  display: flex;
  justify-content: center;
  font-family: $Snig;
  font-size: 40px;
  color: $yellow;
  text-decoration: none;
  font-weight: 100;
  margin: auto;
  margin-top: 20px;;
  margin-bottom: 20px;
}

.home__button {
  display: flex;
  background-color: #98CDFF;
  justify-content: center;
  border: 1px solid #1762A6;
  padding: 7px;
  margin: auto;
  margin-bottom: 20px;
}

.home__button-text {
  text-decoration: none;
  font-size: $l-size;
  font-weight: 600;
  color: $black;
}

.home__text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: $m-size;
  color: $black;
  background-color: #98CDFF;
  border: 1px dashed #1762A6;
  box-sizing: border-box;
  border-radius: 140px;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 40px;
  
  padding-right: 40px;
}