div {
  font-family: $Robo;
}

.versus__disable {
  cursor: not-allowed;
}

.versus__enable {
  cursor: pointer;
}

.versus__category {
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4BA9FF;
  text-transform: capitalize;
  text-decoration: none;
  font-size: $m-size;
  width: 1000px;
  height: 92px;
  
  border: 1px solid #1762A6;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.versus__category-subtext {
  width: 129px;
  height: 30px;
  margin-top: 30px;
  font-family: $Snig;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.175em;
  color: #2E8FE9;
  transform: rotate(-21.51deg); 
}

.versus__category-title {
  font-family: $Snig;
  font-style: normal;
  font-weight: normal;
  color: $yellow;
  font-size: 72px;
  margin-top: 5px;
}

.versus__category-subbox {
  position: absolute;
  width: 1000px;
  display: flex;
  justify-content: center;
}

.versus__box {
  
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #98CDFF;
  width: 500px;
  height: 609px;
  margin: auto;
  text-align: center;
  font-family: $Sanc;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: $black;
  
  border: 1px dashed #1762A6;
  box-sizing: border-box;
  border-radius: 140px;
}

.versus__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.versus__line {
  background-color: black;
  width: 3px;
  height: 633px;
}

.versus__footer {
  display: flex;
  width: 487px;
  height: 45px;

  font-family: $Snig;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #FFFFFF;
}