.box {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
  background-color: #333333;
  color: #fff599;
}

.box__left {
  font-size: 20px;
  padding: 3px;
  padding-left: 5px;
}

.box__right {
  font-size: 16px;
  padding: 5px;
  padding-top: 6px;
}