@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div {
  font-family: 'Roboto';
}

.disable {
  cursor: not-allowed;
}

.title {
  text-decoration: none;
  font-size: 24px;
  color: darkblue
}

.enable {
  cursor: pointer;
}

.option {
  font-size: 24px;
}